html{
  background-image: url(Pictures/bg.jpg);
  color:white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  max-width: 100%;
  width: 100%;
  overflow: auto;
}

*{
box-sizing: border-box;
margin: 0;
border:0;
}

.pagebody{
  line-height: 1.4;
  font-size: 100%;
  color:white;
  max-width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 10px;
    margin: auto;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 200;
  font-stretch: expanded;
  border: none;
  margin: auto;
  text-shadow: 2px 2px 2px gray;
  padding: 5px 0 5px 5px;
  letter-spacing: 1px;
}

h2{
  margin: auto;
  text-align: center;
  font-weight: 50;
  font-size: 3em;
  padding: auto;
  text-shadow:none;
  padding: 10px 0 10px 5px;
  letter-spacing: 1px;
}

h3{
  margin: auto;
  text-align: center;
  font-weight: 50;
  font-size: 2em;
  color: #ff0064;
  padding: auto;
  text-shadow:none;
  padding: 10px 0 10px 5px;
  letter-spacing: 1px;
}

h4{
margin: auto;
text-align: center;
font-weight: 30;
font-size: 1em;
padding: auto;
text-shadow:none;
padding: 10px 0 10px 5px;
letter-spacing: 1px;
}

h1, h2, h3, h4 {
line-height: normal;
padding-top: 40px;
}

p, form{
  letter-spacing: inherit;
  word-spacing: inherit;
  color: white;
  line-height: 2;
  padding: auto;
  font-weight: normal;
  display: block;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {

body {
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
}

.topnav {
overflow: hidden;
background-color: transparent;
height: auto;
padding: 0.5rem 1rem 1rem 0.5rem;
position: fixed;
z-index: 1;
top: 0;
left: 0;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
/*border-radius: 0 0 85% 0 / 30%;  */
}

.topnav a {
float: left;
display: block;
color: #ff0064;
text-align: center;
padding: auto;
text-decoration: none;
font-size: 1rem;
}

.topnav a:hover{
color: #ffffff;
transform: scale(1.1);
border-radius: 30%;
text-decoration: solid white;
}

.topnav a.active {
color: #ffffff;
background-color: transparent;
}
.topnav a .active:hover{
color: #ff0064;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}


.logo {
  background-color: transparent;
  width: 100px;
  height: auto;
  margin-right: 0.5em;
  float: left;
}

.logoContainer{
position: relative;
}

.body{
display: block;
flex-wrap:wrap;
padding: 10px;
width: 100%;
height:auto;
background-image: url(Pictures/dark-concrete-texture-background.jpg);
max-width: 100%;
}

.aboutSection {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center; 
  align-items: center;
  min-height: 100vh; 
  background-color: #2c2c2c;
}


.textcolumn {
display: inline-block;
flex-wrap:wrap;
justify-content: space-around;
padding: 5px;
margin: 20px;
width: 45%;
min-height: 50vh;
position: relative;
word-spacing: 2px;
}

@media (max-width: 600px) {
.textcolumn{
  display:block;
  width: 100%;
  max-width: 100%;
  margin: 10px 0 10px 0;
  height: auto;
}
}

/* Slideshow container */
.slideshow-container {
	width:100%;
  max-width: 1000px;
  max-width: 100vw;
  position: relative;
  margin: auto;
  margin: 0px;
  color:#ddffdd;
}

.mySlides {
  width: 100vw;
  height: inherit;
  margin: 0px;
  padding: ;

}
.mySlides img {
      width: 100%;
      width: 100vw;
      position: relative;
      top: 50px;
  }

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
padding: 8px 12px;
position: absolute;
bottom: 50px;
width: auto;
text-align: center;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* ............................animations   ................................. */
.fade-in {
opacity: 0;
transform: translateY(50px);
transition: all 1s ease-out ;
}
.fade-in.appear {
opacity: 1;
transform: translateY(0);
}

.bounce {
  -webkit-animation: bounce 3s;
 }
 

@-webkit-keyframes bounce {
0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}


/* ............................animations end  ................................. */

.contact-form{
margin: 10px;
display: block;
color: white;
border: none;
}

/*..............back to top  arrow............*/
.top-link {
font-size: 1.25rem;
position: fixed;
bottom: 3rem;
right: 3rem;
background: #130e3f;
width: 2rem;
height: 2rem;
display: grid;
place-items: center;
border-radius: var(--radius);
color: var(--clr-white);
animation: bounce 2s ease-in-out infinite;

visibility: hidden;
z-index: -100;
}
.show-link {
visibility: visible;
z-index: 100;
}



.contact-form input {
  background: #353535;
  width: 50%;
  padding: 20px;
  border-top:20px;
  margin:7px;
}

.contact-form input .contact-form .textarea{
resize: vertical;
padding: 50px;
height: 300px;
}

.contact-form button {
width: initial;
}


.textarea {
overflow: auto;
vertical-align: top;
height: 200px;
}

.clearfloat{
  clear: both;

}
.iframeContainer{
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
padding: 20px;
background-color: transparent;
}

iframe{
  color: black;
  font-size: 20px; 
  padding: 10px;
  max-width:100%;
  height:350px;
  width: 100%;
}



audio{
display: grid;
}

img{
max-width: 100%;
}

.other-logo .logo:hover {
  opacity: 80%;
  transform: scale(1);
}

.other-logo{
width:200px;
height:auto;
display: block;
padding: 5px;
border: none;
position: relative;
}

@media (max-width: 600px){
.logo{
width: 20vw;
height: auto;
}

p form{
font-size: 100%;
}

header{
width: 100%;
height: auto;
}
}

.button{
text-align: center;
background-color: #ff0064;
color: #ffffff;
font-size: 1rem;
padding: 10px;
border-radius:30px;
position: center;
animation-fill-mode: all;
align-self: center;
}

.button:hover{
  background-color:floralwhite;
  color: #ff0064;
}


.newsbutton{
text-align: center;
background-color: #ff0064;
color: white;
font-size: 1rem;
padding: 10px;
animation-fill-mode: all;
max-width: 20%;
position: relative;
}

.newsbutton:hover{
background-color: white;
color: #ff0064;
transition: background-color 1s ease-out;
}

audio {
  color: whitesmoke;
  font-size: 20px;
  padding: auto;
}

.row {
display: flex;
flex-wrap:nowrap;
padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.threeColumn {
flex: 33%;
max-width: 33%;
padding: 0 4px;
}
  
.threeColumn img {
margin: 15px 10px 5px 10px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media(max-width: 800px){
.threeColumn  {
  flex: 100%;
  max-width: 100%;
  width: 100%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.row {
  flex: 100%;
  max-width: 100%;
}
}


.fa {
  display: inline-block;
  padding: 7px;
  font-size: 15px;
  background: #4f4f4f;
  color: #ff0064;
  width: 35px;
  height: 35px;
  align-self: center;
  text-align: center;
  line-height:center;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  clear: both;
}

.fa:hover {
  transform: scale(1.3);
}
/*
.fa-facebook {
background: #3B5998;
color: white;
}

.fa-youtube {
background: #c4302b;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-instagram {
background: #cd486b;
color: white;
}

.fa-soundcloud {
background: #ff7700;
color: white;
}
*/
.footercontainer {
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
*zoom: 1;
width: 100%;
min-width: 100%;
background-color: #0f0f0f;
}

.pagefooter {
background-color:#0f0f0f;
padding: 50px 0;
text-align: center;
font-size: 70%;
width: 100%;
display: block;
font-size: 1.2vw;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-family: sans-serif;
}

.pagefooter address p {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  word-spacing: 3px;
  line-height: 30px;
  font-style: normal;
  font-style: inherit;
  color: #434343;
}

.pagefooter address a {
    color: #434343;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
}

.pagefooter .newsletter-form {
margin: 30px 0;
}

.pagefooter .newsletter-form form {
    *zoom: 1;
    position: relative;
}
    
.pagefooter .newsletter-form form:after {
content: " ";
clear: both;
display: block;
overflow: hidden;
height: 0;
}

.pagefooter .newsletter-form input[type="email"] {
    width: 70%;
    padding: 25px;
    border: none;
    background: #353535;
    color: white;
    outline: none;
    float: left;
    -webkit-transition: .3s ease;
            transition: .3s ease; 
}

@media screen and (max-width: 480px) {
     
.pagefooter .newsletter-form input[type="email"] {
width: 70%;
}
}

.pagefooter .newsletter-form input[type="email"]:hover, .pagefooter .newsletter-form input[type="email"]:focus {
      background: #4f4f4f; }

.pagefooter .newsletter-form input[type="submit"] {
    width: 15%;
    padding: 25px;
    position: relative;
    float: left;
    text-align: center;
}

@media screen and (max-width: 480px) {
.pagefooter .newsletter-form input[type="submit"] {
width: 15%;
text-align: center;
padding: auto;
} 
}

.pagefooter .copyright {
  color: #434343;
  font-weight: 300;
  font-size: 12px;
}

